<footer class="page-footer d-flex">
    <div class="footer-copyright text-center py-4">© 2021 Copyright:
        <a href="https://foldvari.hu/">foldvari.hu</a>
        <div class="row justify-content-center">
            <div class="col-2 col-md-1">
                <a href="https://www.instagram.com/foldvari_alex/" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a>

            </div>
            <div class="col-2 col-md-1">
                <a href="https://www.facebook.com/profile.php?id=100004381785688" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>

            </div>
            <div class="col-2 col-md-1">
                <a href="https://github.com/JackieX99" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>

            </div>
            <div class="col-2 col-md-1">
                <a href="mailto:foldvarialex2003@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-2x"></i></a>

            </div>
            <!-- <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=foldvarialex2003@gmail.com" target="_blank"><i class="fas fa-envelope-square fa-2x"></i></a> -->
        </div>
    </div>
</footer>