<div class="container-fluid">
    <div class="row">
        <!-- Jackiexofficial.cf modal card -->
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-2 col-md-3 offset-lg-2 col-lg-3 offset-xl-2 col-xl-2 divbutton" data-toggle="modal" data-target="#jackiexOfficialModal">
            <div class="card text-white bg-dark mb-3">
                <img src="../../../assets/img/references/jackiexofficial/jackiexofficialcf_1.png" class="card-img-top"
                    alt="jackiexofficialcf">
                <div class="card-body">
                    <h5 class="card-title">jackiexofficial.cf</h5>
                    <p class="card-text">Egy egyszerű SPA (Single-page application), minecraft skriptek bemutatására, valamint
                        authentikáció után azok elérésére.</p>
                </div>
            </div>
        </div>
        <!-- Flatheaven modal card -->
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-2 col-md-3 offset-lg-2 col-lg-3 offset-xl-1 col-xl-2 divbutton" data-toggle="modal" data-target="#flatheavenModal">
            <div class="card text-white bg-dark mb-3">
                <img src="../../../assets/img/references/in_progress.png" class="card-img-top"
                    alt="inprogress">
                <div class="card-body">
                    <h5 class="card-title">FlatSpace</h5>
                    <p class="card-text">Angular MPA (Multi Page Application) oldal, <span>fejlesztés alatt</span>.</p>
                </div>
            </div>
        </div>
        <!-- Aimgame modal card -->
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-2 col-md-3 offset-lg-2 col-lg-3 offset-xl-1 col-xl-2 divbutton" data-toggle="modal" data-target="#aimGameModal">
            <div class="card text-white bg-dark mb-3">
                <img src="../../../assets/img/references/aimgame/aimgame_1.png" class="card-img-top"
                    alt="inprogress">
                <div class="card-body">
                    <h5 class="card-title">AimGame</h5>
                    <p class="card-text">Játékosan fejleszthető reakciós képesség folyamatosan gyorsuló célponttal.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Felugró modal ablakok -->

<div class="modal fade" id="jackiexOfficialModal" tabindex="-1" aria-labelledby="jackiexOfficialModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../assets/img/references/jackiexofficial/jackiexofficialcf_1.png"
                    alt="jackiexofficial_1" class="img-fluid" style="margin-bottom: 30px;">
                <img src="../../../assets/img/references/jackiexofficial/jackiexofficialcf_2.png"
                    alt="jackiexofficial_2" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="flatheavenModal" tabindex="-1" aria-labelledby="flatheavenModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../assets/img/references/in_progress.png"
                    alt="inProgress" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aimGameModal" tabindex="-1" aria-labelledby="aimGameModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../assets/img/references/aimgame/aimgame_1.png"
                    alt="inProgress" class="img-fluid">
            </div>
        </div>
    </div>
</div>